- var revealLocation = 'bower_components/reveal.js/'
doctype html
html(lang="en")

  include bower_components/RevealJade/shared/slide_mixins

  include head

  link(rel='external' type='text/html' src="bower_components/RevealJade/shared/head.jade")

  body
    .reveal
      .slides
        +titleSlide({title: "Audio Snob",subtitle: "The finer points of Buying a HiFi"})
        +olSlide("Overview", ["Power", "Amplification", "Fidelity", "Reciever", "Components", "Speakers"])
        +slideGroup
          +bigTitleSlide("Power")
          +littleTitleSlide("DC Transformers")
          +bigTitleSlide("Toroidol")
            img(src="assets/toroidal.jpg")
            :markdown
              Small - Lightweight - Low hum - More complex

          +bigTitleSlide("H-Core")
            img(src="assets/h-core.jpg" width= "50%")
            :markdown
              Cheap - Easy to produce

            +speakerNotes
              :markdown
                Just because these are cheaper due to complications in winding.
                The art of winding a good box transfomer can often far outpace those of a Toroidol.
                Since both are made by machines now the issue is probably moot

        +slideGroup
          +bigTitleSlide("Amplification")
            :markdown
              - Vacuum Tubes (YAY!)
              - Solid State (Transistors)

          +bigTitleSlide("Tubes!")
            :markdown
              - Thermionic emission
              - Simple form is a Diode
              - Amplifiers use Triodes (http://en.wikipedia.org/wiki/Lee_de_Forest)

            +speakerNotes
              :markdown
                - Thermionic emission - Edison effect - emission of electrons from a hot cathode into a vacuum to a positively charged anode
                - Vacuum Tubes have a grid
                - Often Called a Valve
                - We pass high current through the cathode and the grid opens and closes based upon the signal to control the flow of electrons

          +bigTitleSlide("The days before transistors")
            img(src='assets/pois-02.jpg')

          +bigTitleSlide("Transistors")
            :markdown
              - Cheap for low voltage under ~ 2000 Watts
              - Very good quality

        +slideGroup
          +bigTitleSlide("Fidelity")
            :markdown
              accuracy; exactness;

          +bigTitleSlide("Measurement")
            :markdown
              - THD+N: Total Harmonic Distortion + Noise
              - Frequency response: Signal level variation vs output
              - SNR: Signal to Noise Ratio
              - Crosstalk: Noise bleed between signal paths
              - Dynamic range: Variant of THD for digital recievers

            +speakerNotes
              :markdown
                - SNR is all relative to the input strength and output intensity
                - THD is the direct measure of Fidelity
                - Frequency Response is measure of flatness

          +littleTitleSlide("Frequency Response")
            img(src="assets/clipped_wave.jpeg")

        +slideGroup
          +bigTitleSlide("The Reciever")
            :markdown
              ### Its all about design

          +littleTitleSlide("Whats in there")
            img(src='assets/s7-lg.jpg')

          +littleTitleSlide("Simple is better")
            img(src='assets/nad_c745bee_inside.jpg')

        +slideGroup
          +bigTitleSlide("Components")
            :markdown
              - Phonograph (Record player)
              - MP3 Player
              - Digital Bridge

          +bigTitleSlide("Phonograph")
            :markdown
              - Requires Preamp
              - Operates at -30db
              - Is the reason we worry about SNR and THD

        +slideGroup
          +bigTitleSlide("Speakers")
          +bigTitleSlide("The Story of Impedence")
            :markdown
              - Resistance to current flow in ohms
              - Not Fixed
              - Based on signal frequency and amplification
              - Anything marketed as 6-8 ohm is fine for the home

          +bigTitleSlide("The Cone and Driver")
            img(src="assets/speaker_components.gif", width="80%")
          +littleTitleSlide("The Enclosure")
            a(href="http://www.mobileinformationlabs.com/HowTo-1Woofer-BoxPaid-New.htm", target="_blank") Types - Click me

        +slideGroup
          +bigTitleSlide("Alternatives")
            :markdown
              - Bose
              - Sonos
              - iHome

    include bower_components/RevealJade/shared/footer